.edu {
    padding: 4rem 2rem;
    min-height: 90vh;
}

.edu .section-title {
    font-family: var(--bold-text);
    font-size: 5rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.section-title::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background-color: var(--primary-color);
    margin: 0.5rem auto 0;
}

.edu__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 800px;
    margin: 5rem;
    margin-left: 11.5rem;
}

.edu__item {
    font-size: 1.2rem;
    line-height: 1;
    color: var(--text-color);
}

.edu__item h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.edu__item p {
    margin: 0.2rem 0;
    color: var(--text-color);
}