.home {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 4rem;
    margin-left: 12rem;
    margin-top: 2.5rem;
}

.home__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11rem;
    text-align: left;
    max-width: 1200px;
}

.greeting {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

@keyframes neon-border-flicker {
    0%, 30%, 100% {
        text-shadow: 
            0 0 5px #b4952f, 
            0 0 10px #b4952f, 
            0 0 20px #b4952f, 
            0 0 40px #d4b85b, 
            0 0 80px #d4b85b;
        opacity: 0.6;
    }
    31%, 65% {
        text-shadow: 
            0 0 3px #d49639, 
            0 0 6px #d49639, 
            0 0 12px #d49639, 
            0 0 25px #d4b85b, 
            0 0 50px #d4b85b;
        opacity: 0.5;
    }
    32%, 66% {
        text-shadow: 
            0 0 2px #b27417, 
            0 0 4px #b27417, 
            0 0 8px #b27417, 
            0 0 16px #d0b85b, 
            0 0 32px #d0b85b;
        opacity: 0.4;
    }
    35%, 70% {
        text-shadow: none;
        opacity: 0.3;
    }
}

.name {
    font-size: 4rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px #b4952f;
    text-shadow: 
        0 0 5px #b4952f, 
        0 0 10px #b4952f, 
        0 0 20px #b4952f, 
        0 0 40px #d4b85b, 
        0 0 80px #d4b85b;
    margin-bottom: 1rem;
    animation: neon-border-flicker 3s infinite alternate;
}

.role {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.description {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 2rem;
    line-height: 1.6;
}

.cta-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}

.btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.primary-btn {
    background: linear-gradient(to right, var(--primary-color), var(--accent-color));
    background-size: 200%;
    background-position: left;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: all 0.3s ease, background-position 0.5s ease-in-out;
}

.primary-btn:hover {
    background-position: right;
    transform: translateY(-1.5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.typed-cursor {
    color: #b4952f;
    font-weight: bold;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}