.resume-button {
    position: fixed;
    left: 20px;
    background: #333333;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem;
    padding-left: 1rem;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
    transition: all 0.4s ease;
    z-index: 1000;
    overflow: hidden;
    width: 50px;
    height: 50px;
    top: 2rem;
}

.resume-button:hover {
    background: #dfab00;
    color: #f5f5f5;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    width: 120px;
    height: 50px;
    border-radius: 25px;
    padding: 0.8rem 1.2rem;
    transform: translateY(-2px);
}

.resume-button i {
    font-size: 1.2rem;
    color: #fff;
    transition: all 0.3s ease;
}

.resume-button:hover i {
    transform: rotate(360deg);
}

.resume-text {
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.resume-button:hover .resume-text {
    opacity: 1;
}

@media (max-width: 768px) {
    .resume-button {
        left: auto;
        right: 10px;
        position: fixed;
        top: 70px;
        bottom: auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 0.8rem;
        z-index: 500;
    }

    .resume-button:hover {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 0.8rem;
    }

    .resume-button .resume-text {
        display: none;
    }
}
